* {font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;}

:root {
    --gray1: rgb(100, 100, 100);
    --gray2: rgb(150, 150, 150);
    --gray3: rgb(200, 200, 200);
    --gray4: rgb(230, 230, 230);
}

body {
    margin: 5px;
    padding: 0;
}
#pubs {
    display: grid;
    grid-gap: 5px;
}
.pubs-item {
    display:grid;
    grid-gap: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: var(--gray4);
}
.pubs-journ-year {
  text-align: right;
  font-size: .8em;
  padding-right: 10px;
}
.pubs-title {
    font-size: 1em;
    padding: 5px;
    border-radius: 5px 5px 0px 0px;
    background-color: var(--gray3);
}
.pubs-authors {
    font-size: .8em;
}
.pubs-abstr {
    display: none;
    padding: 10px;
    border: 1px solid black;
    background-color: white;
}
.pubs-buttons {
    display: inline-flex;
}
.pubs-buttons a, .pubs-buttons a:visited{
    color: black;
    background-color: var(--gray3);
    border-radius: 5px;
    margin-right: 10px;
    padding: 2px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
}
.pubs-buttons i {
    margin-right: 5px;
}
.pubs-buttons a:hover {
    cursor: pointer;
    background-color: var(--gray2);
}
.pubs-buttons span {
    font-size: .8em;
}
